body{
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.container-fluid{
    padding: 0px 60px;
}
.urbanist {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: 100-900; */
    font-style: normal;
  }
.playfair-display {
    color: #ffffff;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: italic;
    font-size: 30px;
}
.bg-grayblue{
    background-color:  #93a7af ;
    /* #93a7af */
    /* afcad4 */
}
.navbar .nav-icon i{
    font-size: 20px;
    margin-right: 15px;
    color: #ffffff;
    transition: font-size 0.3s, color 0.3s;
}
.navbar .nav-icon i:hover{
    font-size: 30px;
    color: #0f313d;
}
#navbarNav a{
    color: #ffffff;
    border-radius: 5px;
    transition: background-color 0.3s;
}
#navbarNav .nav-item a:active,
#navbarNav .nav-item a:hover
{
    background-color: #ffffff;
    color: #000000;
    border-bottom: 2px solid #0f313d;
    border-radius: 5px;
}
